@font-face {
  font-family: 'Roboto Medium';
  src: url('./assets/fonts/Roboto-Medium/Roboto-Medium.eot');
  src:
    url('./assets/fonts/Roboto-Medium/RRoboto-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/Roboto-Medium/RRoboto-Medium.woff') format('woff'),
    url('./assets/fonts/Roboto-Medium/RRoboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./assets/fonts/Roboto-Regular/Roboto-Regular.eot');
  src:
    url('./assets/fonts/Roboto-Regular/Roboto-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('./assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: #f8f9fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Basic style reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;

  font-family: 'Roboto Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  min-width: 1576px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}
